<div class="col-xs-12">
	<div class="registration-container">
		<h2>Sign up</h2>
		<div class="message">
			<p>To request songs, you must</p>
		</div>
		<%= render "users/shared/links" %>
	</div>
</div>
